<nav>
  <ul>
    <li><p>@Html.ActionLink("Home", "Index", "Home")</p>
    <li><p>@Html.ActionLink("Stylists", "Index", "Stylists")</p>
    <li><p>@Html.ActionLink("Clients", "Index", "Clients")</p>
  </ul>
</nav>