nav {
  background-color: rgb(220, 214, 214);
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 50%;
}

nav ul {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  margin: 0 10px;
}

nav p {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

h1 {
  color: palevioletred;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

h2 {
  color: palevioletred;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

body {
  display: block;
  margin: 0 auto;
  width: 50%;
}

