@{
  Layout = "_Layout";
}

<h1>Welcome to Claire's Salon Database Portal</h1>
<p>Hello Claire. Use this site to track your employed stylists as well as their clients. Use the navigation bar below to get started and navigate througout the site.</p>